Book HTML:
= "I am a book with #{@presenter.pages} beautiful pages."

= "I can show you a controller: #{@controller.class}"
= "I can show you a presenter: #{@presenter.class}"
= "I can show you a model: #{@model.class}"