!!!
%html
  %head
    %title
      Amazombie –– Books & Brains
    = stylesheet_link_tag :all
  %body
    .navi
      = cart_controller_method_links
    .center
      = image_tag 'sections_welcome.gif'
    %div{ :class => 'center colored' }
      = image_tag 'guides.gif'
    #left
      = image_tag 'left.png'
    #content
      #welcome
        #hello
          %b Hello, Undead Zombie.
          .note
            (if you're not an undead zombie,
            = link_to 'click here'
            \.)
          We have
          = link_to 'Books'
          and
          = link_to 'Brains'
          for you in
          = link_to 'Celebrity Brains'
          ,
          = link_to 'John Doe Brains'
          and
          = link_to 'Literature'
          \.
      = yield
    #right
      = image_tag 'right.png'